[submodule "prysm/prysm"]
	path = prysm/prysm
	url = https://github.com/prysmaticlabs/prysm.git
[submodule "prysm/eth2-beaconchain-explorer"]
	path = prysm/eth2-beaconchain-explorer
	url = https://github.com/gobitfly/eth2-beaconchain-explorer.git
