[submodule "prysm/prysm"]
	path = prysm/prysm
	url = https://github.com/prysmaticlabs/prysm.git
[submodule "substrate/substrate-node-template"]
	path = substrate/substrate-node-template
	url = https://github.com/substrate-developer-hub/substrate-node-template.git
